
  <div class="container">
    <h1 class="brand"><span>Event</span> Creator</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Events you want to send</h3>
      <div class="list-of-events">
        <ul>
          <li>Event: {{event.title}}</li>
          <li>Description: {{event.description}}</li>
        </ul>
      </div>
      </div>
      <div class="contact">
        <h3>Invite your friends</h3>
        {{msg}}
        <form method="POST" action= "send"> 
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <input type="hidden" name="eventId" value="{{event.id}}">
          <input type="hidden" name="eventTitle" value="{{event.title}}">
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>