<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title row">
            <div class="col">{{event.title}} Details</div>
            <div class="col-2"><strong>ID</strong>: {{event.id}}</div>
          </h5>
          <p>
          </p>
          <p>
            <p>
              <strong>Start</strong>: {{event.startdate}}</p>
              
              <p>
              <p>
                <strong>End</strong>: {{event.enddate}}</p>
              <p>
                <p>
                  <strong>RSVP:</strong>: {{event.rsvpdate}}</p>
                <p>
                  <strong>Description:</strong> {{event.description}}</p>

                <a href="/">← Back To Home</a>

                <a id="email" href="/invite">e-mail data</a>
                <script>

                  var link = document.getElementById('email');

                  var nodemailer = require('nodemailer');




                </script>
        </div>
      </div>
    </div>
  </div>
</div>